@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@500&display=swap');

:root{
    --colorPrimario: #031d7c;
    --colorSecundario: #12569d;
    --colorFondos: #e8e8e8;
    --colorGris: #ffffff;
    --colorInputs: #f5f5f5;
    --maxco: 15;
}

body{
    font-family: 'Poppins', Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 1.2rem;
}

a{
    color: var(--colorPrimario)
}

.sideMenu.active #infoUser{
    display:block
}

.sideMenu #infoUser{
    display: none;
}

.sideMenu .Usuario{
    padding: 30px 0;
}

.sideMenu.active .Usuario{
    padding: 0;
}

h1{
    margin: 0;
    text-align: center;
    color: white;
    width: 100%;
    background-color: var(--colorPrimario);
}

#títuloCorto{
    display:block;
    font-size: 2rem;
}
#títuloLargo{
    display:none;
    font-size: 2rem;
}

#bodyLogin{
    background-image: url(../resources/login1.png);
    background-size: 100% 100%;
}

.contenedorForm{
    margin: 50px 8px;
    margin-top: 5px;
    background-color: var(--colorGris);
    box-shadow: 1px 1px 10px var(--colorSecundario);
    border-radius: 5px;
    padding: 10px;
}

.contenedorForm h2{
    margin: 5px 0;
    text-align: center;
    width: 100%;
}

.contenedorForm img{
    height: auto;
    width: 75%;
}

.imgCentrada{
    margin: 25px 0;
    text-align: center;
}

.InputGroup{
    padding: 10px;
}

.Inputs{
    padding: 50px 0 10px;
}

input[type="text"], input[type="password"], input[type="email"]
{
    margin-top: 5px;
    width: 100%;
    border: none;
    border-bottom: 2px black solid;
    padding: 7px 0 7px 7px;
    margin-left: -3.5px;
    border-radius: 3px;
    background-color: var(--colorInputs);
}

#labelCentrada{
    margin: 0;
    text-align: center;
}

#botoncitos{
    text-align: center;
}

button{
    background-color: var(--colorSecundario);
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    border: none;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
    transition: background-color 0.3s;
}
button:hover{
    cursor: pointer;
}

footer{
    margin: 0;
    background-color:black;
}

footer h1{
    background-color: transparent;
}

footer p{
    color: white;
    text-align: justify;
    font-size: 0.7rem;
}

footer img{
    filter: grayscale(1) brightness(1000%);
    height: auto;
    width: 75%;
}

.redes{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.redes i{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
}

.icono{
    padding: 2px;
    color: white;
}

.tableTop{
    background-color: var(--colorPrimario);
    color: white;
    padding: 15px 25px;
}

.tableTitle{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px;
}


.btnCRUD{
    color: #fff;
    float: right;
    font-size: 1rem;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnCell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btnCell *{
    margin: 0 10px;
    border-radius: 0;
    width: 38px;
    height: 38px;
}

.btnCelda{
    text-align: center;
    align-content: center;
    color: #fff; 
    justify-content: center;
    display: inline-flex;
}

#btnEstado{
    background-color: red;
}
#btnEstado:hover{
    background-color: rgb(153, 42, 42);
}

#btnNuevo{
    background-color: green;
}
#btnNuevo:hover{
    background-color: rgb(32, 87, 32);
}

#btnCancelar, #btnCancelarDesactivar{
    background-color: #9d9d9d;
}

#btnCancelar:hover, #btnCancelarDesactivar:hover{
    background-color: #444444;
}

#btnAceptar:hover, #btnConfirmarDesactivar:hover{
    background-color: var(--colorPrimario);
}

table{
    background-color: #ffffff;
    width: 100%;
    text-align: left;
    font-family: 'Poppins', Courier, monospace;
    font-size: 1.5rem;
    font-style: bold;
    border-collapse: collapse;
    line-height: 2rem;
    border-radius: 10px;
}

.contenedorTabla {
    margin: 5% 5%;
    width: 90%;
    height: auto;
    overflow: auto;
    margin-bottom: 350px;
}

table thead {
    font-size: 1.5rem;
    text-shadow: 0px 2px 2px #00000082;
    color: white;
    background-color: var(--colorGris);
    border-bottom: 2px gray solid;
    text-align: left;
}

th{
    background-color: var(--colorSecundario);
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis;
    padding: 8px; 
    border: 1px solid #ccc; 
    border: none;
}

th::after, td::after{
    content: '';
    width: 50px;
    display: inline-block;
}

td{
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis;
    padding: 8px;
    color: black;
    width: max-content;
    vertical-align: middle;
}

tr{
    border-top: 1px gray solid;
}

tbody tr:nth-child(odd){
    background-color: var(--colorFondos);
}


.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.464);
    display: none;
    z-index: 21;
}

.contenedorModal{
    margin: auto;
    width: 90%;
    max-height: 90%;
    background-color: var(--colorGris);
    border-radius: 10px;
    border: 5px outset var(--colorSecundario);
    max-width: 700px;
}

.contenedorModal h1{
    padding-top: 10px;
    color: white;
    font-size: 1.8rem;
}

.txtVertical{
    display: flex;
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-weight: bolder;
    line-height: 0px;
    font-size: 3rem;
    margin-block-start: 1.8rem;
    letter-spacing: -5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.txtVertical i{
    line-height: 0;
    letter-spacing: 10px;
}

.sideMenu.active .txtVertical{
    display: none;
}

.sideMenu.active .topmenu .logo{
    opacity: 1;
}

.topmenu .logo{
    font-size: 2rem;
    margin-right: 5px;
    justify-content: center;
    width: auto;
}

.topmenu span{
    margin-right: 15px;
    margin-top: -3px;
}


.sideMenu .topmenu .logo{
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    font-weight: bolder;
}

.mainContent{
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 60px;
    transition: all 0.5s ease;   
    width: calc(100% - 60px);
}

.sideMenu{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60px;
    background-color: var(--colorPrimario);
    padding: 10px 0px;
    transition: all 0.5s ease;   
    border-right: 5px white solid;
    z-index: 20;
}

.sideMenu.active ~ .mainContent{
    left: 350px;
    width: calc(100% - 350px);
    overflow: hidden;
}

.sideMenu.active{
    width: 350px;
}

.sideMenu #btnMenu{
    position: absolute;
    color: var(--colorGris);
    top: 10px;
    left: 50%;
    font-size: 1.5rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sideMenu.active #btnMenu{
    left: 90%;
}

.sideMenu.active ul{
    opacity: 1;
    pointer-events: all;
}

ul{
    padding: 0px;
    margin: 0px;
    opacity: 0;
    pointer-events: none;
    text-align: justify;
    border-top: 5px #ffffff solid;
}

li{
    list-style-type: none;
    padding: 15px 3px;
}

.sideMenu.active a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 15px;
}

.sideMenu.active a:hover{
    background-color: #010f41;
    cursor: pointer;
}

.Usuario{
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.Usuario p{
    margin-left: 15px;
    opacity: 0;
}

.userFoto{
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--colorGris);
}

.sideMenu.active p{
    opacity: 1;
}

#contenedorLogin{
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #12559d59;
}

.dialogLogout{
    position: fixed;
    left: 50%;
    top: 50%;
}
#dialogLogout h1, #desactivarModal h1{
    font-size: 1.3rem;
}

#desactivarModal b{
    color: red;
}

@media only screen and (min-width: 570px){

    .contenedorForm{
        margin: 75px 0;
        width: 400px;
    }


    .Inputs{
        padding: 50px 20px 10px;
    }

    footer img{
        width: 300px;
        margin: 0 50px;
    }

    .imgCentrada{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    footer{
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer p{
        font-size: 1rem;
        max-width: 250px;
    }
    .redes{
        align-items: center;
        display: flex;
        flex-direction: row;
    }
}


@media only screen and (min-width: 1500px){
    
    #títuloCorto{
        display:none;
    }
    #títuloLargo{
        display:block;
    }
}
